<% layout("/layouts/boilerplate") -%> 
<!-- <h3>All Listings : </h3> -->
<!-- <form method="GET" action="/listings/new">
    <button>Create New Listing</button>
</form> -->


<div id="filters">
    <a href="/listings?filter=Trending" class="filter <%= selectedFilter === 'Trending' ? 'fw-bold text-dark' : '' %>">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </a>
    

    <a href="/listings?filter=Rooms" class="filter <%= selectedFilter === 'Rooms' ? 'fw-bold text-dark' : '' %>">
        <div> <i class="fa-solid fa-bed"></i> </div>
        <p> Rooms </p>
    </a>
    <a href="/listings?filter=Iconic Cities" class="filter <%= selectedFilter === 'Iconic Cities' ? 'fw-bold text-dark' : '' %>">
        <div> <i class="fa-solid fa-mountain-city"></i> </div>
        <p> Iconic Cities </p>
    </a>
    <a href="/listings?filter=Mountains" class="filter <%= selectedFilter === 'Mountains' ? 'fw-bold text-dark' : '' %>">
        <div> <i class="fa-solid fa-mountain"></i> </div>
        <p> Mountains </p>
    </a>
    <a href="/listings?filter=Castles" class="filter <%= selectedFilter === 'Castles' ? 'fw-bold text-dark' : '' %>">
        <div> <i class="fa-brands fa-fort-awesome"></i> </div>
        <p> Castles </p>
    </a>
    <a href="/listings?filter=Amazing Pools" class="filter <%= selectedFilter === 'Amazing Pools' ? 'fw-bold text-dark' : '' %>">
        <div> <i class="fa-solid fa-person-swimming"></i> </div>
        <p> Amazing Pools </p>
    </a>
    <a href="/listings?filter=Camping" class="filter <%= selectedFilter === 'Camping' ? 'fw-bold text-dark' : '' %>">
        <div> <i class="fa-solid fa-campground"></i> </div>
        <p> Camping </p>
    </a>
    <a href="/listings?filter=Farms" class="filter <%= selectedFilter === 'Farms' ? 'fw-bold text-dark' : '' %>">
        <div> <i class="fa-solid fa-cow"></i> </div>
        <p> Farms </p>
    </a>
    <a href="/listings?filter=Arctic" class="filter <%= selectedFilter === 'Arctic' ? 'fw-bold text-dark' : '' %>">
        <div> <i class="fa-regular fa-snowflake"></i> </div>
        <p> Arctic </p>
    </a>
    <a href="/listings?filter=Domes" class="filter <%= selectedFilter === 'Domes' ? 'fw-bold text-dark' : '' %>">
        <div> <i class="fa-solid fa-igloo"></i> </div>
        <p> Domes </p>
    </a>
    <a href="/listings?filter=Boats" class="filter <%= selectedFilter === 'Boats' ? 'fw-bold text-dark' : '' %>">
        <div> <i class="fa-solid fa-ship"></i> </div>
        <p> Boats </p>
    </a>

    <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
        </div>
    </div>
</div>

<% if (queryTerm && allListings.length === 0) { %>
  <div class="text-center mt-4">
    <h5>No listings found for "<%= queryTerm %>"</h5>
  </div>
<% } else if (queryTerm) { %>
  <div class="text-center mt-4">
    <h5>Search results for "<%= queryTerm %>"</h5>
  </div>
<% } %>


<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for(let listing of allListings) { %>
    <a href="listings/<%=listing._id%>" class="listing-link">
    <div class="card col listing-card">
        <% if (listing.images && listing.images.length > 0) { %>
            <img src="<%= listing.images[0].url %>" class="card-img-top" alt="Listing image">
        <% } else { %>
            <img src="https://via.placeholder.com/400x300?text=No+Image" class="card-img-top" alt="No image available">
        <% } %>


        <div class="card-img-overlay"></div>
        <div class="card-body">
            <p class="card-text">
                <b><%= listing.title %></b> </p></br>
                <span class="price-info" data-base-price="<%= listing.price %>">
                    ₹<%= Number(listing.price).toLocaleString("en-IN") %> / night
                </span>

            </p>
        </div>
    </div>
    </a>
    <% } %>
</div>

<script src="/js/index.js"></script>